
.poster{
    width: 100%;

}
.posterImage_title{
    font-size: 5vmax;
    position: absolute;
    line-height: 3vmax;
    top: 25%;
   left: 5%;
    
}
.mainposter{
    width: 100%;
    height: 50%;
    background-color: aqua;
    z-index: 999;
}
.posterimage_runtime{
    font-size: 1.5vmax;
    position: absolute;
    top: 37%;
    left:5%;
}
.posterImage_description{
    font-size: 1.3vmax;
    width: 40%;
    text-align: start;
    position: absolute;
    top: 45%;
    left:5%;
}